form(method="POST", action="/gallery/"+ id)
  input(type='hidden',value='PUT', name='_method')
  p author
    input(type="text", name="author")
  p link
    input(type="text", name="link")
  p description
    input(type="text", name="description")
  p
    input(type="submit")