extends ./layout.jade
block title
  title Gallery




block content
  -if(!user)
    a(href='#' , id='loginModalButton',data-reveal-id='logInModal')
      button login
    a(href='/signup')
      button signup
  -else
    .clearfix.topbuttons
      a.left(href='#' , data-reveal-id='addImage')
        button.plus +
      a.right(href='/logout') logout



  div(id="addImage" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
    .Form
      form#addImageForm(method="POST", action="/gallery")
        h3 add an image
        p author
          input(type="text", name="author")
        p link
          input(type="text", name="link")
        p description
          input(type="text", name="description")
        button(type="submit") submit
    a( class="close-reveal-modal" aria-label="Close")&#215;


  div(id="logInModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
    .Form
      form#logInForm(method="POST", action="/login")
        h3 log in
        p username
          input(type="text", name="username")
        p password
          input(type="text", name="password")
        button(type="submit") log in
    a( class="close-reveal-modal" aria-label="Close")&#215;


  .galleryContainer
    .banner
      .row.bannerTopRow
        div.small-12.medium-6.large-6.columns.leftBanner
          h1 gallery
        div.medium-6.large-6.columns.rightBanner.hide-for-small
          span It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      .row.hide-for-small
        .bannerImageContainer.medium-12.medium-centered.columns
          //- img.bannerImage(src="http://lorempixel.com/800/200/")

    .galleryList
      .row.gallery
        each picture in pictures

          div.small-12.medium-4.large-4.columns.containerDiv(id='galleryImage'+picture.id)


            a(href= '/gallery/'+ picture.id)


              .galleryImage
                img.singleImage(src= picture.link)
            div
              span.author= picture.dataValues.author
              p.description= picture.dataValues.description
              //- a delete
            -if(user)
              .galleryButtons
                form.deleteInGalleryForm(method="POST", action="/gallery/"+ picture.id)
                  input(type='hidden',value='DELETE', name='_method')
                  input(type='hidden',value= picture.id, name='id')
                  button.galleryDeleteButton(type="submit", class='button tiny') delete
                  a(href='#' , data-reveal-id='editImageModal'+picture.id)
                    button.onlyForLogged(class='tiny button') edit
          div(id="editImageModal"+picture.id class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
            .Form
              form.editImageInGalleryForm(method="POST", action="/gallery/"+ picture.id)
                //- h3 edit an image
                img(src= picture.link)
                input(type='hidden',value='PUT', name='_method')
                input(type='hidden',value= picture.id, name='id')
                p author
                  input(type="text", name="author", value= picture.author)
                p link
                  input(type="text", name="link", value= picture.link)
                p description
                  input(type="text", name="description", value= picture.description)
                button(type="submit") submit
            a( class="close-reveal-modal" aria-label="Close")&#215;



