extends ./layout.jade

block title
  title login
block content
  .Form
    form(action="/login" method="POST")
      p username
        input(type="text" name="username")
      p password
        input(type="password" name="password")
      button(type="sumbit" value="log in") login


    a(href='/signup')
      p not yet signed up?
      //- button(type='button') sign up