form(method="POST", action="/gallery/")

  p author
    input(type="text", name="author")
  p link
    input(type="text", name="link")
  p description
    input(type="text", name="description")
  p
    input(type="submit")