<!DOCTYPE html>
html(lang="en")
head
  link(rel="stylesheet", href="/css/styles.css")
  meta(charset="UTF-8")
  title Document
body
  .Form
    -if(username)
      p
        |the username:&nbsp
        b #{username} &nbsp
        |already exists, try&nbsp
        a(href='/login') logging in
    form(action="/signup" method="POST")
      p username
        input(type="text" name="username")
      p password
        input(type="password" name="password")
      button(type="sumbit" value="sign up") signup


    a(href='/login')
      p already signed up?

