<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 single
  div
    img.singleImage(src= link)
    .photoby photo by:&nbsp;
      span.author= author
    .description= description

